#storytime{
    position: relative;
    /* display: none; */
}
#book{
    container-name: book;
}
#alpha{
    opacity: 1;
    transition: opacity 0.2s;
    position: absolute;
    top: 15%;
    left: 17%;
    display: flex;
}
#story{
    width: 32.5vw;
    font-size: 200%;
}

#right{
    padding: 20px;
}

p {
    justify-content: center;
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    color: darkred;
}