#storytime{
    position: relative;
    /* display: none; */
}
#book{
    container-name: book;
}
#alpha{
    opacity: 1;
    transition: opacity 0.2s;
    position: absolute;
    top: 15%;
    left: 16%;
    display: flex;
}
#story{
    width: 32.5vw;
    font-size: 150%;
}

#dalle{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    
}

#left{
    margin-right: 20px;
}
#right{
    margin-left: 20px;
}

p, button {
    justify-content: center;
    text-align: center;
    margin-right: 75%;
    font-size: 18px;
    color: darkred;
}